body{
            background-image: url('http://admin.anzow.com/picture/2011071461141223.jpg');

background-repeat: no-repeat;        
background-position: center;
background-size:cover;

    color:plum;}
 

        
a {
color:yellow;
}
        p {
            font-family:fantasy;
        }
        h1 {
            font-family: cursive;
            text-align: left;
}
           #h01  {
                text-align: right;
            }
h2{
    text-align:center;



     word-spacing: 10px;
        }
        p{
            font-language-override:
        }
