body{
                background-color: lightpink;
            }
            h2 {
                font-family:fantasy;
                  text-indent: 100px;
                 word-spacing: 10px;
            }
            h1 {
                font-family: cursive;
            
            }




            p{
                font-language-override:
            }
 img {
    position: absolute;
    right: 100px;
    bottom: 40px;
       z-index: -1;