body{
                background-color: lightcyan;
            }
            p {
                font-family:fantasy;
                  font-language-override:normal;
            
                     text-align:center;
            
        
                   
                    
}
              
                
           
            h2 {
            
                word-spacing: 320px;
                                  text-indent: 30px;
            
            }
h1.big{
    font-family: inherit;
    text-align: center;
    color: coral;
    letter-spacing: 1.5px;
    word-spacing: 10px;
}
     
     