body{
            background-image:url('https://i.ytimg.com/vi/ETDz5z46Loo/maxresdefault.jpg');

background-repeat: no-repeat;        
background-position: fixed;
background-size:cover;
    
      color: black;


        }

        p {
            font-family:fantasy;
        }
        h1 {
            font-family: cursive;
            text-align: center;
            word-spacing: 20px;
}
h2{
    text-align:center;



     word-spacing: 15px;
        }
      